.menu-bar.dark-mode {
  color: #fff;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-item.active {
  background-color: #666;
}

/* Hover and active fill entire box */
.menu-item:hover,
.menu-item.active {
  background-color: #555;
}

.menu-underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: black; /* or white for dark mode */
  width: 0;
  transition: transform 0.3s ease, width 0.3s ease;
}
.menu-bar.dark-mode .menu-item.active::after {
  background-color: white;
}

.menu-bar.light-mode .menu-item.active::after {
  background-color: black;
}

.sub-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  opacity: 0;
  animation: fade-in 0.3s forwards;
}

.sub-menu-item {
  cursor: pointer;
  padding: 5px;
  flex: 1;
}

.sub-menu-item:hover {
  background-color: #777;
}

.content {
  margin-top: 20px;
  max-height: 60lvh;
  overflow: auto;
  transition: opacity 0.3s, transform 0.3s;
}

.content.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

.content.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
