/* major columns, prefer to be full width, wrap if needed */
.skill-item {
  flex: 1;
  min-width: 100px; /* Minimum width for each column */
  text-align: center;
  box-sizing: border-box;
  padding: 0rem; /* Optional: Padding for inner spacing */
}

.partial-divider {
  min-width: 100%;
  min-height: 1px;
  /* Gradient coming in from the outside of the screen on both sides
    to create a smooth transition */
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(128, 128, 128, 0.5) 20%,
    rgba(128, 128, 128, 0.5) 80%,
    transparent 100%
  );
}
