.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-bottom: #ccc 1px solid; /* Add a border to each section */
  }
  
  .section-visible {
    opacity: 1;
    transform: translateY(0);
  } 

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
  }
  
  .section-hidden {
    opacity: 0;
    transform: translateY(50px);
  }
  
  .section:nth-child(odd) {
    background-color: #e0e7ff;
  }
    .section:nth-child(odd).light-mode{
        color: #333;
        background-color: #f7f7f7;
    }
    .section:nth-child(odd).dark-mode{
      color: #f4f4f9;
      background-color: #171c2a;
    }

  .section:nth-child(even) {
    color: #333;
    background-color: #d5e8de;
  }
    .section:nth-child(even).light-mode{
        background-color: #f0f0f0;
    }
    .section:nth-child(even).dark-mode{
      color: #f4f4f9;
      background-color: #222424;
    }

/* Children default hidden state (only if fade is enabled) */
.child-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Children visible state (only if fade is enabled) */
.child-visible {
  opacity: 1;
  transform: translateY(0);
}