.flex-reveal {
  display: flex;
  flex-wrap: wrap; /* Flexbox setup */
  justify-content: space-evenly;
  gap: 1rem; /* Add spacing between children */
}

.flex-child {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 0.8s ease-out;
  display: flex;
  justify-content: center;
}

.flex-reveal-visible .flex-child {
  opacity: 1;
  transform: translateY(0);
}

.content-scroll {
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-y: hidden;
  justify-content: left;
  padding: 20px;
}

.socials-flex {
  gap: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .content-scroll {
    flex-direction: unset;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }
  .socials-flex {
    gap: 2rem;
  }
}
