.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  border-bottom: #ccc 1px solid; /* Add a border to each section */
}

@media screen and (min-width: 768px) {
  .section {
    padding: 2rem;
  }
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  margin: 0 10px;
}

.section-hidden {
  opacity: 0;
}

section.dark-mode h2 {
  color: #eae9e9;
}

.section {
  color: var(--color-primary-light);
  background-color: var(--color-bg-light);
}
.section.light-mode {
  background-color: var(--color-bg-light);
}
.section.dark-mode {
  color: var(--color-primary);
  background-color: var(--color-bg-2);
}

/* Children default hidden state (only if fade is enabled) */
.child-hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Children visible state (only if fade is enabled) */
.child-visible {
  opacity: 1;
  transform: translateY(0);
}
